@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
*{margin: 0; padding: 0;}
#container{width: 1000px; margin: 0 auto;}
header{height: 80px; background: #006699;}
header #logo{width: 200px; float: left;}
header h1{color: yellow; padding: 15px 20px; font-family: 'Nanum Pen Script', cursive; font-size: 40px;}
header nav{width: 700px; float: right; font-family: 'Nanum Gothic Coding', monospace;}
nav ul{list-style: none; text-align: right; margin-right: 100px;}
nav ul li{display: inline; line-height: 80px; margin: 10px;}
nav ul li a{color: white; text-decoration: none;}
nav ul li a:hover{color: yellow}
section h1{padding: 20px;}