/* 모바일 기준 780px 미만 */
*{margin: 0; padding: 0; box-sizing: border-box;} */
#container{width: 100%; margin: 0 auto;}

/* header 영역 */
header{width: 100%; height: 300px;}
nav{width: 100%; height: 60px; background: #000; position: fixed; top: 0;}
#main-nav{list-style: none; text-align: center;}
#main-nav li{display: inline-block; margin: 15px;}
#main-nav li a{text-decoration: none; color: white;}
nav a:hover{color: yellow;}
#main-pic img{width: 100%; height: 240px;}

/* Section 영역 */
section{height: 350px; padding: 10px 5%;}
section:nth-child(3){background: #eee;}
section .page-title{margin-top: 30px;}
section .content{margin: 10px auto; padding: 10px;}
section .photo{display: none;}
section p, h2, li{line-height: 2;}
#choice ol{padding-left: 30px;}

/* footer 영역 */
footer{height: 200px; border-top: 2px solid #222;}
#bottomMenu{list-style: none; margin: 10px auto;}
#bottomMenu li{display: inline-block; margin: 10px 7px; border-right: 1px solid #ccc, padding 0 10px;}
#bottomMenu li a{text-decoration: none; color: #444;}
#bottomMenu li:last-child{border: none;}
address{font: 15px normal; color: #444; line-height: 2; margin: 0 auto; padding: 20px;}

/* 태블릿 기준 */
@media screen  and (min-width: 780px) {
    header{width: 100%; height: 320px;}
    section{height: 450px;}
    #intro, #choice{float: left; width: 50%; border: 1px dotted #eee;}
    #map{clear: both;}    
}

/* pc 기준 */
@media screen and (min-width: 1000px) {
    #container{width: 1000px; margin: 0 auto;}
    header{width: 1000px; height: 350px;}
    nav{width: 1000px; height: 60px; background: #000; position: fixed; top: 0;}
    section{height: 350px;}
    section img{border-radius: 10px;}
    #intro, #choice, #map{width: 100%;}
    section .photo{display: block;}
    #intro .photo, #map .photo{float: left; margin-right: 20px;}
    #choice .photo{float: right; margin-left: 10px;}


}