div{
    width: 600px;
    height: 600px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.pic1{background: url(../images/bg5.jpg);
    background-size: auto;}
.pic2{background: url(../images/bg5.jpg) no-repeat;
    background-size: 500px;}
.pic3{background: url(../images/bg5.jpg) no-repeat bottom right;
    background-size: 60%; /* 박스 Width의 60% */
    background-position: top 100px right 50px;}
.pic4{background: url(../images/bg5.jpg) no-repeat;
    background-size: contain;} /* 이미지가 전체 비율로 축소 됨 */
.pic5{background: url(../images/bg5.jpg) no-repeat;
    background-size: cover;} /* 이미지가 요소를 채우고 나머지 잘림 */

