*{margin: 0; padding: 0;}
#container{width: 100%; margin: 0 auto;}
main{width: 1000px; margin: 30px auto;}

/* header 영역 */
header{height: 80px; background: rgb(0,60,0);}
#logo{width: 300px; float: left; padding: 15px 30px;}
#logo a{color: yellow; text-decoration: none;}
nav {width: 800px; float: right;}
#topMenu{list-style: none; text-align: right; margin-right: 50px; padding: 15px 20px;} 
#topMenu li{display: inline-block; margin: 10px 20px;}
#topMenu li a{color: white; text-decoration: none;}

/* index 스타일 */
/* #contents{width: 1000px; margin: 30px auto;} */
#contents section div{margin: 30px 10px;}
#contents section p{line-height: 2em;}
#healing img, #activity img{float: left; margin-right: 20px; border-radius: 20px;}
#activity, #contents #sightseeing{margin-top: 30px;}
#healing, #activity{height: 300px;}
footer{width: 100%; margin: 30px auto; border-top: 3px solid #999;}
footer #bottomMenu{list-style: none; text-align: center; margin: 10px 650px 10px 10px;}
#bottomMenu li{display: inline-block; margin: 10px 0;
                    border-right: 1px solid #333; padding: 0 10px;}
#bottomMenu li a{text-decoration: none; color: #333;}
#bottomMenu li:last-child{border: none;}
#sightseeing ul li{margin: 10px 30px; list-style: square;}
#sightseeing ul a{text-decoration: none; color: #000;}
#sightseeing ul li a:hover{text-decoration: underline;}

/* product 스타일 */
/* #product{width: 1000px; margin: 30px auto;} */
#product p, li{line-height: 2;}
#procuct h2{margin: 10px;}
#description{width: 800px; margin: 0 auto; border: 1px solid #999; padding: 20px 60px; margin-bottom: 20px; border-top-left-radius: 30px; border-top-right-radius: 30px;}
#description img{border-radius: 15px; margin: 10px;}
#receipe{width: 800px; margin: 0 auto; border: 1px solid #999; padding: 20px 60px; margin-bottom: 20px;}
#receipe ol{padding-left: 20px;}
#package{width: 800px; margin: 0 auto; border: 1px solid #999; padding: 20px 60px; margin-bottom: 20px; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;}
#product table, th, td{border: 1px solid #ccc; border-collapse: collapse; padding: 10px 20px;}


/* board 스타일 */
#qna{height: 730px;}
#board h2{margin: 30px 10px;}
#tbl_board{width: 800px; border-collapse: collapse; text-align: center;}
#tbl_board th, #tbl_board td{border: 1px solid #ccc;}
#tbl_board thead{background: #eee;}

/* About Me 스타일 */
h1{margin-bottom: 30px;}
h2{margin-top: 30px; margin-bottom: 10px;}
ul li{list-style: none;}
img{margin: 10px; border-radius: 20px;}